{
  "customModels": [
    {
      "model": "nemotron-3-ultra:cloud",
      "id": "custom:nemotron-3-ultra:cloud-0",
      "index": 0,
      "baseUrl": "http://127.0.0.1:11434/v1",
      "apiKey": "ollama",
      "displayName": "nemotron-3-ultra:cloud",
      "maxOutputTokens": 262144,
      "noImageSupport": true,
      "provider": "generic-chat-completion-api"
    },
    {
      "model": "deepseek-v4-flash:cloud",
      "id": "custom:deepseek-v4-flash:cloud-1",
      "index": 1,
      "baseUrl": "http://127.0.0.1:11434/v1",
      "apiKey": "ollama",
      "displayName": "deepseek-v4-flash:cloud",
      "maxOutputTokens": 1048576,
      "noImageSupport": true,
      "provider": "generic-chat-completion-api"
    },
    {
      "model": "kimi-k2.6:cloud",
      "id": "custom:kimi-k2.6:cloud-2",
      "index": 2,
      "baseUrl": "http://127.0.0.1:11434/v1",
      "apiKey": "ollama",
      "displayName": "kimi-k2.6:cloud",
      "maxOutputTokens": 262144,
      "noImageSupport": true,
      "provider": "generic-chat-completion-api"
    },
    {
      "model": "glm-5.1:cloud",
      "id": "custom:glm-5.1:cloud-3",
      "index": 3,
      "baseUrl": "http://127.0.0.1:11434/v1",
      "apiKey": "ollama",
      "displayName": "glm-5.1:cloud",
      "maxOutputTokens": 202752,
      "noImageSupport": true,
      "provider": "generic-chat-completion-api"
    },
    {
      "model": "deepseek-v4-pro:cloud",
      "id": "custom:deepseek-v4-pro:cloud-4",
      "index": 4,
      "baseUrl": "http://127.0.0.1:11434/v1",
      "apiKey": "ollama",
      "displayName": "deepseek-v4-pro:cloud",
      "maxOutputTokens": 524288,
      "noImageSupport": true,
      "provider": "generic-chat-completion-api"
    },
    {
      "model": "minimax-m3:cloud",
      "id": "custom:minimax-m3:cloud-5",
      "index": 5,
      "baseUrl": "http://127.0.0.1:11434/v1",
      "apiKey": "ollama",
      "displayName": "minimax-m3:cloud",
      "maxOutputTokens": 524288,
      "noImageSupport": true,
      "provider": "generic-chat-completion-api"
    },
    {
      "model": "kimi-k2.7-code:cloud",
      "id": "custom:kimi-k2.7-code:cloud-6",
      "index": 6,
      "baseUrl": "http://127.0.0.1:11434/v1",
      "apiKey": "ollama",
      "displayName": "kimi-k2.7-code:cloud",
      "maxOutputTokens": 262144,
      "noImageSupport": true,
      "provider": "generic-chat-completion-api"
    }
  ],
  "missionModelSettings": {
    "skipScrutiny": true,
    "skipUserTesting": false,
    "validationWorkerModel": "custom:nemotron-3-ultra:cloud-0",
    "validationWorkerReasoningEffort": "high",
    "workerModel": "custom:deepseek-v4-pro:cloud-4",
    "workerReasoningEffort": "max"
  },
  "missionOrchestratorModel": "custom:kimi-k2.7-code:cloud-6",
  "missionOrchestratorReasoningEffort": "high",
  "sessionDefaultSettings": {
    "autonomyLevel": "off",
    "autonomyMode": "spec",
    "interactionMode": "spec",
    "model": "custom:nemotron-3-ultra:cloud-0",
    "reasoningEffort": "high"
  }
}
