{
  "customModels": [
    {
      "model": "nvidia/nemotron-3-ultra-550b-a55b",
      "id": "custom:nemotron-3-ultra:openrouter",
      "index": 0,
      "baseUrl": "https://openrouter.ai/api/v1",
      "apiKey": "${OPENROUTER_API_KEY}",
      "displayName": "nemotron-3-ultra:openrouter",
      "maxOutputTokens": 16384,
      "noImageSupport": true,
      "provider": "generic-chat-completion-api"
    },
    {
      "model": "stepfun/step-3.7-flash",
      "id": "custom:deepseek-v4-flash:openrouter-1",
      "index": 1,
      "baseUrl": "https://openrouter.ai/api/v1",
      "apiKey": "${OPENROUTER_API_KEY}",
      "displayName": "deepseek-v4-flash:openrouter",
      "maxOutputTokens": 16384,
      "noImageSupport": true,
      "provider": "generic-chat-completion-api"
    },
    {
      "model": "moonshotai/kimi-k2.6",
      "id": "custom:kimi-k2.6:openrouter-2",
      "index": 2,
      "baseUrl": "https://openrouter.ai/api/v1",
      "apiKey": "${OPENROUTER_API_KEY}",
      "displayName": "kimi-k2.6:openrouter",
      "maxOutputTokens": 16384,
      "noImageSupport": true,
      "provider": "generic-chat-completion-api"
    },
    {
      "model": "z-ai/glm-5.1",
      "id": "custom:glm-5.1:openrouter-3",
      "index": 3,
      "baseUrl": "https://openrouter.ai/api/v1",
      "apiKey": "${OPENROUTER_API_KEY}",
      "displayName": "glm-5.1:openrouter",
      "maxOutputTokens": 16384,
      "noImageSupport": true,
      "provider": "generic-chat-completion-api"
    },
    {
      "model": "anthropic/claude-opus-4.8",
      "id": "custom:deepseek-v4-pro:openrouter-4",
      "index": 4,
      "baseUrl": "https://openrouter.ai/api/v1",
      "apiKey": "${OPENROUTER_API_KEY}",
      "displayName": "deepseek-v4-pro:openrouter",
      "maxOutputTokens": 16384,
      "noImageSupport": true,
      "provider": "generic-chat-completion-api"
    },
    {
      "model": "minimax/minimax-m3",
      "id": "custom:minimax-m3:openrouter-5",
      "index": 5,
      "baseUrl": "https://openrouter.ai/api/v1",
      "apiKey": "${OPENROUTER_API_KEY}",
      "displayName": "minimax-m3:openrouter",
      "maxOutputTokens": 16384,
      "noImageSupport": true,
      "provider": "generic-chat-completion-api"
    }
  ],
  "missionModelSettings": {
    "skipScrutiny": true,
    "skipUserTesting": false,
    "validationWorkerModel": "custom:nemotron-3-ultra:openrouter",
    "validationWorkerReasoningEffort": "high",
    "workerModel": "custom:deepseek-v4-pro:openrouter-4",
    "workerReasoningEffort": "max"
  },
  "missionOrchestratorModel": "custom:kimi-k2.6:openrouter-2",
  "missionOrchestratorReasoningEffort": "high",
  "sessionDefaultSettings": {
    "autonomyLevel": "off",
    "autonomyMode": "spec",
    "interactionMode": "spec",
    "model": "custom:nemotron-3-ultra:openrouter",
    "reasoningEffort": "high"
  }
}